<div class="login">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 col-12 text-center mb-3 mb-md-0">
        <app-desplazableheader></app-desplazableheader>
      </div>

      <div *ngIf="!userLoginOn" class="col-md-6 col-12 text-end ">
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Usuario" />
          <input class="form-control me-2" type="password" placeholder="Contraseña" />
          <button class="btn btn-primary" type="submit">Ingresar</button>
        </form>
    </div>
      <div *ngIf="userLoginOn" class="text-end">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menú
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
            <li><a class="dropdown-item" href="/cerrar-sesion">Cerrar sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>
</div>
