<div class="card text-bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Alumnos</div>
  <div class="card-body">
      <h5 class="card-title">Legajos de los Estudiantes</h5>

  <table>
    <thead>
    <tr>
      <th>orden</th>
      <th>libreta</th>
      <th>orden</th>
      <th>dni</th>
      <th>apellido</th>
      <th>nombre</th>
      <th>carrera</th>
      <th>copia dni</th>
      <th>copia nacimineto</th>
      <th>copia titulo</th>
      <th>planilla prontuarial</th>
      <th>carnet sanitario</th>
      <th>foto</th>
      <th>aval</th>
      <th>sede</th>
      <th>usuario</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>
      </th>
    </tr>
    </tbody>

  </table>

  </div>
</div>
